{
    "openapi": "3.1.0",
    "info": {
        "title": "PolyBackTest API",
        "description": "PolyBackTest API v4 provides Polymarket crypto Up/Down markets and historical snapshots with millisecond timestamps and limit/offset pagination.",
        "version": "4.0.0",
        "contact": {
            "name": "PolyBackTest Support",
            "url": "https://polybacktest.com",
            "email": "support@polybacktest.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://polybacktest.com/terms"
        },
        "x-logo": {
            "url": "https://polybacktest.com/logo.png",
            "altText": "PolyBackTest Logo"
        }
    },
    "servers": [
        {
            "url": "https://api.polybacktest.com",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/v3/health": {
            "get": {
                "tags": [
                    "v3 - Utility"
                ],
                "summary": "Health check",
                "description": "Public health check; no API key required.",
                "operationId": "v3_health",
                "security": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3HealthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/batch": {
            "post": {
                "tags": [
                    "v3 - Utility"
                ],
                "summary": "Batch up to 10 GETs",
                "description": "Execute up to 10 v3 GET sub-requests in parallel. Each sub-request consumes one rate-limit slot. Outer status is always 200; inspect each `data[].status` for individual outcomes.",
                "operationId": "v3_batch",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/V3BatchRequest"
                            },
                            "example": {
                                "requests": [
                                    {
                                        "id": "r1",
                                        "path": "/v3/btc/markets?type=5m&limit=10"
                                    },
                                    {
                                        "id": "r2",
                                        "path": "/v3/eth/markets?type=15m&limit=5"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3BatchResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/{coin}/markets": {
            "get": {
                "tags": [
                    "v3 - Markets"
                ],
                "summary": "List markets",
                "description": "Cursor-paginated list of markets for a coin. Sorted by `start_time` desc.",
                "operationId": "v3_list_markets",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        },
                        "description": "Cryptocurrency for this request. Available: btc, eth, sol."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "5m",
                                "15m",
                                "1h",
                                "4h",
                                "24h"
                            ]
                        },
                        "description": "Filter by market type."
                    },
                    {
                        "name": "resolved",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "true = only resolved markets, false = only open markets."
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Lower bound — millisecond epoch or ISO-8601."
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Upper bound — millisecond epoch or ISO-8601."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 50
                        },
                        "description": "Items per page (max 100)."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Opaque cursor from a previous response's `pagination.next_cursor`. Mutually exclusive with `offset` (cursor wins)."
                    },
                    {
                        "name": "include_count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Include `pagination.total_count`. Triggers a COUNT(*); leave off unless you need it."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3MarketsListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/{coin}/markets/{market_id}": {
            "get": {
                "tags": [
                    "v3 - Markets"
                ],
                "summary": "Get market by ID",
                "operationId": "v3_get_market_by_id",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        },
                        "description": "Cryptocurrency for this request. Available: btc, eth, sol."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1051520"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3MarketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/{coin}/markets/by-slug/{slug}": {
            "get": {
                "tags": [
                    "v3 - Markets"
                ],
                "summary": "Get market by slug",
                "operationId": "v3_get_market_by_slug",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        },
                        "description": "Cryptocurrency for this request. Available: btc, eth, sol."
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "btc-up-or-down-april-15-9pm-et"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3MarketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/{coin}/markets/{market_id}/snapshots": {
            "get": {
                "tags": [
                    "v3 - Markets"
                ],
                "summary": "List market snapshots",
                "description": "Cursor-paginated snapshots for a market. Pass `include_orderbook=true` for full bid/ask depth.",
                "operationId": "v3_list_snapshots",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        },
                        "description": "Cryptocurrency for this request. Available: btc, eth, sol."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Lower bound — millisecond epoch or ISO-8601."
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Upper bound — millisecond epoch or ISO-8601."
                    },
                    {
                        "name": "include_orderbook",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Include full bid/ask depth — heavier payloads."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000,
                            "default": 100
                        },
                        "description": "Items per page (max 1000)."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Opaque cursor from a previous response's `pagination.next_cursor`. Mutually exclusive with `offset` (cursor wins)."
                    },
                    {
                        "name": "include_count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Include `pagination.total_count`. Triggers a COUNT(*); leave off unless you need it."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3SnapshotsListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/{coin}/markets/{market_id}/snapshots/at/{timestamp}": {
            "get": {
                "tags": [
                    "v3 - Markets"
                ],
                "summary": "Snapshot at timestamp",
                "description": "Returns the closest snapshot to a given timestamp (within 2 seconds).",
                "operationId": "v3_get_snapshot_at",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        },
                        "description": "Cryptocurrency for this request. Available: btc, eth, sol."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Target time — millisecond epoch or ISO-8601."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3SnapshotAtResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid coin, cursor, parameter, timestamp, …)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failure (missing or invalid API key)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Endpoint or coin not in the caller's plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V3ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Health Check",
                "description": "Health check endpoint to verify service availability. No authentication required.",
                "operationId": "health_check_health_get",
                "security": [],
                "x-mint": {
                    "metadata": {
                        "title": "Service Health Check",
                        "description": "Verify the API service is running and responsive"
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "tags": [
                    "v2 - Markets"
                ],
                "summary": "List Markets",
                "description": "List all markets with pagination.\n\nReturns markets sorted by start_time descending (newest first).",
                "operationId": "list_markets_v2_markets_get",
                "x-mint": {
                    "metadata": {
                        "title": "List All Markets",
                        "description": "Retrieve a paginated list of prediction markets with optional filtering"
                    },
                    "content": "## Overview\n\nThis endpoint returns all available prediction markets. Use the filtering parameters to narrow down results by market type or resolution status.\n\n<Note>Markets are sorted by start time in descending order, so you'll see the newest markets first.</Note>\n\n<Info>Learn how to query effectively using time filters and pagination limits in our [Fetching Data & Pagination](/fetching-data) guide.</Info>\n\n<Info>Check the [Available Data & Markets](/available-data) guide to see which market types are supported for each coin.</Info>"
                },
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ],
                            "title": "Coin"
                        },
                        "description": "Cryptocurrency to query. Supported coins: btc, eth, sol."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 50,
                            "title": "Limit"
                        },
                        "description": "Number of results to return"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "market_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "5m",
                                        "15m",
                                        "1hr",
                                        "4hr",
                                        "24hr"
                                    ]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Market Type"
                        },
                        "description": "Filter by market type (5m, 15m, 1hr, 4hr, 24hr)"
                    },
                    {
                        "name": "resolved",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Resolved"
                        },
                        "description": "Filter by resolution status"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Start Time"
                        },
                        "description": "Filter markets starting after this time — ms epoch or ISO8601"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "End Time"
                        },
                        "description": "Filter markets starting before this time — ms epoch or ISO8601"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets/{market_id}": {
            "get": {
                "tags": [
                    "v2 - Markets"
                ],
                "summary": "Get Market By Id",
                "description": "Get a single market by its ID.",
                "operationId": "get_market_by_id_v2_markets__market_id__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Details",
                        "description": "Retrieve detailed information about a specific market by ID"
                    }
                },
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Coin"
                        },
                        "description": "Cryptocurrency to query. Supported coins include btc, eth. New coins added as they become available."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets/by-slug/{slug}": {
            "get": {
                "tags": [
                    "v2 - Markets"
                ],
                "summary": "Get Market By Slug",
                "description": "Get a single market by its slug. Slugs are human-readable identifiers for markets.",
                "operationId": "get_market_by_slug_v2_markets_by_slug__slug__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market By Slug",
                        "description": "Retrieve market details using a human-readable slug identifier"
                    },
                    "content": "## Slug Format\n\nMarket slugs follow a consistent naming pattern based on the market type and timing.\n\n**Examples:**\n- `btc-updown-24h-2026-01-01`\n- `btc-updown-1hr-2026-01-01-09`"
                },
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Coin"
                        },
                        "description": "Cryptocurrency to query. Supported coins include btc, eth. New coins added as they become available."
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Slug"
                        },
                        "description": "Market slug",
                        "example": "btc-updown-24h-2026-01-01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets/{market_id}/snapshots": {
            "get": {
                "tags": [
                    "v2 - Snapshots"
                ],
                "summary": "Get Market Snapshots",
                "description": "Get snapshots for a market with pagination.\n\nReturns snapshots sorted by time ascending (oldest first).\nMaximum limit is 1000 snapshots per request.\n\nBy default, include_orderbook=false for lower-latency, lighter responses. Set include_orderbook=true when you need full orderbook depth.",
                "operationId": "get_market_snapshots_v2_markets__market_id__snapshots_get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Snapshots",
                        "description": "Retrieve paginated historical snapshots for backtesting and analysis"
                    },
                    "content": "## Snapshot Data\n\nSnapshots capture the market state at regular intervals, including:\n- **Price data**: Bid/ask prices for UP and DOWN tokens\n- **Order book**: Full order book depth at capture time\n- **BTC price**: Bitcoin price at snapshot time\n\n<Info>Orderbooks are not returned by default (`include_orderbook=false`). Set `include_orderbook=true` when you need full orderbook depth.</Info>\n\n<Tip>Use `start_time` and `end_time` filters to focus on specific time windows for backtesting.</Tip>\n\n<Info>Learn how to query effectively using time filters and pagination limits in our [Fetching Data & Pagination](/fetching-data) guide.</Info>\n\n<Info>Check the [Available Data & Markets](/available-data) guide to see which market types are supported for each coin.</Info>"
                },
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Coin"
                        },
                        "description": "Cryptocurrency to query. Supported coins include btc, eth. New coins added as they become available."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "include_orderbook",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Include Orderbook"
                        },
                        "description": "Include full orderbook JSON in each snapshot. Default: false. Set include_orderbook=true when you need full orderbook depth.",
                        "example": false
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Number of results to return (max 1000)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Start Time",
                            "type": "string"
                        },
                        "description": "Filter snapshots after this time — ms epoch or ISO8601",
                        "example": "2026-01-01T00:00:00Z"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "End Time",
                            "type": "string"
                        },
                        "description": "Filter snapshots before this time — ms epoch or ISO8601",
                        "example": "2026-01-01T23:59:59Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets/{market_id}/snapshot-at/{timestamp}": {
            "get": {
                "tags": [
                    "v2 - Snapshots"
                ],
                "summary": "Get Snapshot At Timestamp",
                "description": "Get the closest snapshot to a specific timestamp.\n\nReturns the snapshot closest to the given timestamp, but only if it's within ±2 seconds. Returns 404 if no snapshot is found within that range.\n\nNote: Snapshots are always returned as an array (containing 0 or 1 element).",
                "operationId": "get_snapshot_at_timestamp_v2_markets__market_id__snapshot_at__timestamp__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Snapshot At Timestamp",
                        "description": "Find the exact market state at a specific point in time"
                    },
                    "content": "## Precision Lookup\n\nThis endpoint finds the closest snapshot within a **±2 second tolerance** of your target timestamp. Perfect for:\n- Point-in-time analysis\n- Correlating with external events\n- Backtesting trade entries/exits\n\n<Warning>Returns 404 if no snapshot exists within the 2-second tolerance window.</Warning>"
                },
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Coin"
                        },
                        "description": "Cryptocurrency to query. Supported coins include btc, eth. New coins added as they become available."
                    },
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Timestamp"
                        },
                        "description": "Target timestamp — ms epoch or ISO8601",
                        "example": "2026-01-01T12:30:00Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotAtTimestampResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No snapshot found within ±2 seconds of timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets": {
            "get": {
                "tags": [
                    "Legacy v1 API"
                ],
                "summary": "[Legacy] List Markets",
                "description": "List all markets with pagination.\n\nReturns markets sorted by start_time descending (newest first).",
                "operationId": "list_markets_v1_markets_get",
                "x-mint": {
                    "metadata": {
                        "title": "List All Markets",
                        "description": "Retrieve a paginated list of prediction markets with optional filtering"
                    },
                    "content": "<Warning>\nThis is an older legacy version of the API. It is going to be discontinued soon. Please migrate to the `/v2/` equivalent endpoints.\n</Warning>\n\n## Overview\n\nThis endpoint returns all available prediction markets. Use the filtering parameters to narrow down results by market type or resolution status.\n\n<Note>Markets are sorted by start time in descending order, so you'll see the newest markets first.</Note>\n\n<Info>Learn how to query effectively using time filters and pagination limits in our [Fetching Data & Pagination](/fetching-data) guide.</Info>\n\n<Info>Check the [Available Data & Markets](/available-data) guide to see which market types are supported for each coin.</Info>"
                },
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 50,
                            "title": "Limit"
                        },
                        "description": "Number of results to return"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "market_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "5m",
                                        "15m",
                                        "1hr",
                                        "4hr",
                                        "24hr"
                                    ]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Market Type"
                        },
                        "description": "Filter by market type (5m, 15m, 1hr, 4hr, 24hr)"
                    },
                    {
                        "name": "resolved",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Resolved"
                        },
                        "description": "Filter by resolution status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}": {
            "get": {
                "tags": [
                    "Legacy v1 API"
                ],
                "summary": "[Legacy] Get Market By Id",
                "description": "Get a single market by its ID.",
                "operationId": "get_market_by_id_v1_markets__market_id__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Details",
                        "description": "Retrieve detailed information about a specific market by ID"
                    },
                    "content": "<Warning>\nThis is an older legacy version of the API. It is going to be discontinued soon. Please migrate to the `/v2/` equivalent endpoints.\n</Warning>"
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/by-slug/{slug}": {
            "get": {
                "tags": [
                    "Legacy v1 API"
                ],
                "summary": "[Legacy] Get Market By Slug",
                "description": "Get a single market by its slug. Slugs are human-readable identifiers for markets.",
                "operationId": "get_market_by_slug_v1_markets_by_slug__slug__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market By Slug",
                        "description": "Retrieve market details using a human-readable slug identifier"
                    },
                    "content": "<Warning>\nThis is an older legacy version of the API. It is going to be discontinued soon. Please migrate to the `/v2/` equivalent endpoints.\n</Warning>\n\n## Slug Format\n\nMarket slugs follow a consistent naming pattern based on the market type and timing.\n\n**Examples:**\n- `btc-updown-24h-2026-01-01`\n- `btc-updown-1hr-2026-01-01-09`"
                },
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Slug"
                        },
                        "description": "Market slug",
                        "example": "btc-updown-24h-2026-01-01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}/snapshots": {
            "get": {
                "tags": [
                    "Legacy v1 API"
                ],
                "summary": "[Legacy] Get Market Snapshots",
                "description": "Get snapshots for a market with pagination.\n\nReturns snapshots sorted by time ascending (oldest first).\nMaximum limit is 1000 snapshots per request.\n\nBy default, include_orderbook=false for lower-latency, lighter responses. Set include_orderbook=true when you need full orderbook depth.",
                "operationId": "get_market_snapshots_v1_markets__market_id__snapshots_get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Snapshots",
                        "description": "Retrieve paginated historical snapshots for backtesting and analysis"
                    },
                    "content": "<Warning>\nThis is an older legacy version of the API. It is going to be discontinued soon. Please migrate to the `/v2/` equivalent endpoints.\n</Warning>\n\n## Snapshot Data\n\nSnapshots capture the market state at regular intervals, including:\n- **Price data**: Bid/ask prices for UP and DOWN tokens\n- **Order book**: Full order book depth at capture time\n- **BTC price**: Bitcoin price at snapshot time\n\n<Info>Orderbooks are not returned by default (`include_orderbook=false`). Set `include_orderbook=true` when you need full orderbook depth.</Info>\n\n<Tip>Use `start_time` and `end_time` filters to focus on specific time windows for backtesting.</Tip>\n\n<Info>Learn how to query effectively using time filters and pagination limits in our [Fetching Data & Pagination](/fetching-data) guide.</Info>\n\n<Info>Check the [Available Data & Markets](/available-data) guide to see which market types are supported for each coin.</Info>"
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "include_orderbook",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Include Orderbook"
                        },
                        "description": "Include full orderbook JSON in each snapshot. Default: false. Set include_orderbook=true when you need full orderbook depth.",
                        "example": false
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Number of results to return (max 1000)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Start Time"
                        },
                        "description": "Filter snapshots after this time (ISO8601)",
                        "example": "2026-01-01T00:00:00Z"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "End Time"
                        },
                        "description": "Filter snapshots before this time (ISO8601)",
                        "example": "2026-01-01T23:59:59Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}/snapshot-at/{timestamp}": {
            "get": {
                "tags": [
                    "Legacy v1 API"
                ],
                "summary": "[Legacy] Get Snapshot At Timestamp",
                "description": "Get the closest snapshot to a specific timestamp.\n\nReturns the snapshot closest to the given timestamp, but only if it's within ±2 seconds. Returns 404 if no snapshot is found within that range.\n\nNote: Snapshots are always returned as an array (containing 0 or 1 element).",
                "operationId": "get_snapshot_at_timestamp_v1_markets__market_id__snapshot_at__timestamp__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Snapshot At Timestamp",
                        "description": "Find the exact market state at a specific point in time"
                    },
                    "content": "<Warning>\nThis is an older legacy version of the API. It is going to be discontinued soon. Please migrate to the `/v2/` equivalent endpoints.\n</Warning>\n\n## Precision Lookup\n\nThis endpoint finds the closest snapshot within a **±2 second tolerance** of your target timestamp. Perfect for:\n- Point-in-time analysis\n- Correlating with external events\n- Backtesting trade entries/exits\n\n<Warning>Returns 404 if no snapshot exists within the 2-second tolerance window.</Warning>"
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Timestamp"
                        },
                        "description": "Target timestamp (ISO8601)",
                        "example": "2026-01-01T12:30:00Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotAtTimestampResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No snapshot found within ±2 seconds of timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v4/health": {
            "get": {
                "tags": [
                    "v4 - Utility"
                ],
                "summary": "Health check",
                "operationId": "v4_health",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4HealthResponse"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v4/markets": {
            "get": {
                "tags": [
                    "v4 - Markets"
                ],
                "summary": "List markets",
                "description": "Offset-paginated Polymarket crypto markets, sorted newest first.",
                "operationId": "v4_list_markets",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "description": "Polymarket crypto asset for this request.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        }
                    },
                    {
                        "name": "market_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "5m",
                                "15m",
                                "1h",
                                "4h",
                                "24h"
                            ]
                        }
                    },
                    {
                        "name": "resolved",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "description": "Inclusive lower time bound in epoch milliseconds.",
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Unix epoch timestamp in milliseconds.",
                                    "examples": [
                                        1777593600000
                                    ],
                                    "minimum": 1000000000000,
                                    "maximum": 9999999999999
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        }
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "description": "Inclusive upper time bound in epoch milliseconds.",
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Unix epoch timestamp in milliseconds.",
                                    "examples": [
                                        1777593600000
                                    ],
                                    "minimum": 1000000000000,
                                    "maximum": 9999999999999
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        }
                    },
                    {
                        "name": "include_total",
                        "in": "query",
                        "required": false,
                        "description": "Set false to skip the exact count; total will be null.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4MarketsListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameter or timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Coin, endpoint, or history not in plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v4/markets/by-slug/{slug}": {
            "get": {
                "tags": [
                    "v4 - Markets"
                ],
                "summary": "Get market by slug",
                "operationId": "v4_get_market_by_slug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "description": "Polymarket market slug.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "description": "Polymarket crypto asset for this request.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4Market"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameter or timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Coin, endpoint, or history not in plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market or snapshot not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v4/markets/{market_id}": {
            "get": {
                "tags": [
                    "v4 - Markets"
                ],
                "summary": "Get market by ID",
                "operationId": "v4_get_market",
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "description": "Polymarket market ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "coin",
                        "in": "query",
                        "required": true,
                        "description": "Polymarket crypto asset for this request.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "btc",
                                "eth",
                                "sol"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4Market"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameter or timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Plan upgrade required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V4ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Coin, endpoint, or history not in plan",
                        "content": {
                            "application/json": {
[...]
