{
    "openapi": "3.1.0",
    "info": {
        "title": "PolyDataMine API",
        "description": "PolyDataMine provides comprehensive, real-time access to prediction market data and historical snapshots. Build trading strategies, perform backtesting, and analyze market movements with our powerful REST API.",
        "version": "1.0.0",
        "contact": {
            "name": "PolyDataMine Support",
            "url": "https://polybacktest.com",
            "email": "support@polybacktest.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://polybacktest.com/terms"
        },
        "x-logo": {
            "url": "https://polybacktest.com/logo.png",
            "altText": "PolyDataMine Logo"
        }
    },
    "servers": [
        {
            "url": "https://api.polybacktest.com",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Health Check",
                "description": "Health check endpoint to verify service availability. No authentication required.",
                "operationId": "health_check_health_get",
                "security": [],
                "x-mint": {
                    "metadata": {
                        "title": "Service Health Check",
                        "description": "Verify the API service is running and responsive"
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets": {
            "get": {
                "tags": [
                    "v1 - Markets"
                ],
                "summary": "List Markets",
                "description": "List all markets with pagination.\n\nReturns markets sorted by start_time descending (newest first).",
                "operationId": "list_markets_v1_markets_get",
                "x-mint": {
                    "metadata": {
                        "title": "List All Markets",
                        "description": "Retrieve a paginated list of prediction markets with optional filtering"
                    },
                    "content": "## Overview\n\nThis endpoint returns all available prediction markets. Use the filtering parameters to narrow down results by market type or resolution status.\n\n<Note>Markets are sorted by start time in descending order, so you'll see the newest markets first.</Note>"
                },
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "description": "Number of results to return",
                            "default": 50,
                            "title": "Limit"
                        },
                        "description": "Number of results to return"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Pagination offset",
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "market_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "enum": ["15m", "1hr", "4hr", "24hr"]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by market type (15m, 1hr, 4hr, 24hr)",
                            "title": "Market Type"
                        },
                        "description": "Filter by market type (15m, 1hr, 4hr, 24hr)"
                    },
                    {
                        "name": "resolved",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by resolution status",
                            "title": "Resolved"
                        },
                        "description": "Filter by resolution status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}": {
            "get": {
                "tags": [
                    "v1 - Markets"
                ],
                "summary": "Get Market By Id",
                "description": "Get a single market by its ID.",
                "operationId": "get_market_by_id_v1_markets__market_id__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Details",
                        "description": "Retrieve detailed information about a specific market by ID"
                    }
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Market ID",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/by-slug/{slug}": {
            "get": {
                "tags": [
                    "v1 - Markets"
                ],
                "summary": "Get Market By Slug",
                "description": "Get a single market by its slug. Slugs are human-readable identifiers for markets.",
                "operationId": "get_market_by_slug_v1_markets_by_slug__slug__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market By Slug",
                        "description": "Retrieve market details using a human-readable slug identifier"
                    },
                    "content": "## Slug Format\n\nMarket slugs follow a consistent naming pattern based on the market type and timing.\n\n**Examples:**\n- `btc-updown-24h-2026-01-01`\n- `btc-updown-1hr-2026-01-01-09`"
                },
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Market slug",
                            "title": "Slug"
                        },
                        "description": "Market slug",
                        "example": "btc-updown-24h-2026-01-01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}/snapshots": {
            "get": {
                "tags": [
                    "v1 - Snapshots"
                ],
                "summary": "Get Market Snapshots",
                "description": "Get snapshots for a market with pagination.\n\nReturns snapshots sorted by time ascending (oldest first).\nMaximum limit is 1000 snapshots per request.",
                "operationId": "get_market_snapshots_v1_markets__market_id__snapshots_get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Market Snapshots",
                        "description": "Retrieve paginated historical snapshots for backtesting and analysis"
                    },
                    "content": "## Snapshot Data\n\nSnapshots capture the market state at regular intervals, including:\n- **Price data**: Bid/ask prices for UP and DOWN tokens\n- **Order book**: Full order book depth at capture time\n- **BTC price**: Bitcoin price at snapshot time\n\n<Tip>Use `start_time` and `end_time` filters to focus on specific time windows for backtesting.</Tip>"
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Market ID",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "description": "Number of results to return (max 1000)",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Number of results to return (max 1000)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Pagination offset",
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter snapshots after this time (ISO8601)",
                            "title": "Start Time"
                        },
                        "description": "Filter snapshots after this time (ISO8601)",
                        "example": "2026-01-01T00:00:00Z"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter snapshots before this time (ISO8601)",
                            "title": "End Time"
                        },
                        "description": "Filter snapshots before this time (ISO8601)",
                        "example": "2026-01-01T23:59:59Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Market not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/markets/{market_id}/snapshot-at/{timestamp}": {
            "get": {
                "tags": [
                    "v1 - Snapshots"
                ],
                "summary": "Get Snapshot At Timestamp",
                "description": "Get the closest snapshot to a specific timestamp.\n\nReturns the snapshot closest to the given timestamp, but only if it's within ±2 seconds. Returns 404 if no snapshot is found within that range.\n\nNote: Snapshots are always returned as an array (containing 0 or 1 element).",
                "operationId": "get_snapshot_at_timestamp_v1_markets__market_id__snapshot_at__timestamp__get",
                "x-mint": {
                    "metadata": {
                        "title": "Get Snapshot At Timestamp",
                        "description": "Find the exact market state at a specific point in time"
                    },
                    "content": "## Precision Lookup\n\nThis endpoint finds the closest snapshot within a **±2 second tolerance** of your target timestamp. Perfect for:\n- Point-in-time analysis\n- Correlating with external events\n- Backtesting trade entries/exits\n\n<Warning>Returns 404 if no snapshot exists within the 2-second tolerance window.</Warning>"
                },
                "parameters": [
                    {
                        "name": "market_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Market ID",
                            "title": "Market Id"
                        },
                        "description": "Market ID",
                        "example": "1051520"
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Target timestamp (ISO8601)",
                            "title": "Timestamp"
                        },
                        "description": "Target timestamp (ISO8601)",
                        "example": "2026-01-01T12:30:00Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotAtTimestampResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No snapshot found within ±2 seconds of timestamp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API key for authentication. Include this header in all requests to authenticated endpoints."
            }
        },
        "schemas": {
            "ErrorResponse": {
                "properties": {
                    "detail": {
                        "type": "string",
                        "title": "Detail",
                        "description": "Error message describing what went wrong"
                    }
                },
                "type": "object",
                "required": ["detail"],
                "title": "ErrorResponse",
                "description": "Standard error response."
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "HealthResponse": {
                "properties": {
                    "status": {
                        "type": "string",
                        "title": "Status"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timestamp"
                    }
                },
                "type": "object",
                "required": [
                    "status",
                    "timestamp"
                ],
                "title": "HealthResponse",
                "description": "Health check response."
            },
            "MarketResponse": {
                "properties": {
                    "market_id": {
                        "type": "string",
                        "title": "Market Id"
                    },
                    "event_id": {
                        "type": "string",
                        "title": "Event Id"
                    },
                    "slug": {
                        "type": "string",
                        "title": "Slug"
                    },
                    "market_type": {
                        "type": "string",
                        "title": "Market Type"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Start Time"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "date-time",
                        "title": "End Time"
                    },
                    "btc_price_start": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Btc Price Start"
                    },
                    "condition_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Condition Id"
                    },
                    "clob_token_up": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Clob Token Up"
                    },
                    "clob_token_down": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Clob Token Down"
                    },
                    "winner": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Winner"
                    },
                    "final_volume": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Final Volume"
                    },
                    "final_liquidity": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Final Liquidity"
                    },
                    "btc_price_end": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Btc Price End"
                    },
                    "resolved_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Resolved At"
                    },
                    "created_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At"
                    },
                    "updated_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "market_id",
                    "event_id",
                    "slug",
                    "market_type",
                    "start_time",
                    "end_time"
                ],
                "title": "MarketResponse",
                "description": "Single market response."
            },
            "MarketsListResponse": {
                "properties": {
                    "markets": {
                        "items": {
                            "additionalProperties": true,
                            "type": "object"
                        },
                        "type": "array",
                        "title": "Markets"
                    },
                    "total": {
                        "type": "integer",
                        "title": "Total"
                    },
                    "limit": {
                        "type": "integer",
                        "title": "Limit"
                    },
                    "offset": {
                        "type": "integer",
                        "title": "Offset"
                    }
                },
                "type": "object",
                "required": [
                    "markets",
                    "total",
                    "limit",
                    "offset"
                ],
                "title": "MarketsListResponse",
                "description": "Paginated markets list response."
            },
            "SnapshotResponse": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id",
                        "description": "Unique snapshot identifier"
                    },
                    "time": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Time",
                        "description": "Timestamp when the snapshot was captured (ISO8601)"
                    },
                    "market_id": {
                        "type": "string",
                        "title": "Market Id",
                        "description": "ID of the market this snapshot belongs to"
                    },
                    "btc_price": {
                        "anyOf": [
                            {"type": "number"},
                            {"type": "null"}
                        ],
                        "title": "BTC Price",
                        "description": "Bitcoin price at the time of snapshot (USD)"
                    },
                    "price_up": {
                        "anyOf": [
                            {"type": "number"},
                            {"type": "null"}
                        ],
                        "title": "Price Up",
                        "description": "Best price for the UP token (0-1 range)"
                    },
                    "price_down": {
                        "anyOf": [
                            {"type": "number"},
                            {"type": "null"}
                        ],
                        "title": "Price Down",
                        "description": "Best price for the DOWN token (0-1 range)"
                    },
                    "orderbook_up": {
                        "anyOf": [
                            {"$ref": "#/components/schemas/OrderBookResponse"},
                            {"type": "null"}
                        ],
                        "title": "Orderbook Up",
                        "description": "Full order book for the UP token"
                    },
                    "orderbook_down": {
                        "anyOf": [
                            {"$ref": "#/components/schemas/OrderBookResponse"},
                            {"type": "null"}
                        ],
                        "title": "Orderbook Down",
                        "description": "Full order book for the DOWN token"
                    }
                },
                "type": "object",
                "required": ["id", "time", "market_id"],
                "title": "SnapshotResponse",
                "description": "A single market snapshot containing price and order book data."
            },
            "OrderBookResponse": {
                "properties": {
                    "bids": {
                        "items": {
                            "$ref": "#/components/schemas/OrderBookEntry"
                        },
                        "type": "array",
                        "title": "Bids",
                        "description": "List of bid orders (buy orders), sorted by price descending"
                    },
                    "asks": {
                        "items": {
                            "$ref": "#/components/schemas/OrderBookEntry"
                        },
                        "type": "array",
                        "title": "Asks",
                        "description": "List of ask orders (sell orders), sorted by price ascending"
                    }
                },
                "type": "object",
                "required": ["bids", "asks"],
                "title": "OrderBookResponse",
                "description": "Order book containing bid and ask orders."
            },
            "OrderBookEntry": {
                "properties": {
                    "price": {
                        "type": "number",
                        "title": "Price",
                        "description": "Order price (0-1 range)"
                    },
                    "size": {
                        "type": "number",
                        "title": "Size",
                        "description": "Order size in tokens"
                    }
                },
                "type": "object",
                "required": ["price", "size"],
                "title": "OrderBookEntry",
                "description": "A single order in the order book."
            },
            "SnapshotAtTimestampResponse": {
                "properties": {
                    "market": {
                        "$ref": "#/components/schemas/MarketResponse",
                        "title": "Market",
                        "description": "Market details"
                    },
                    "snapshots": {
                        "items": {
                            "$ref": "#/components/schemas/SnapshotResponse"
                        },
                        "type": "array",
                        "title": "Snapshots",
                        "description": "Array containing 0 or 1 snapshot closest to the requested timestamp"
                    }
                },
                "type": "object",
                "required": [
                    "market",
                    "snapshots"
                ],
                "title": "SnapshotAtTimestampResponse",
                "description": "Snapshot at timestamp response (always includes market and array of snapshots)."
            },
            "SnapshotsListResponse": {
                "properties": {
                    "market": {
                        "$ref": "#/components/schemas/MarketResponse",
                        "title": "Market",
                        "description": "Market details"
                    },
                    "snapshots": {
                        "items": {
                            "$ref": "#/components/schemas/SnapshotResponse"
                        },
                        "type": "array",
                        "title": "Snapshots",
                        "description": "Array of market snapshots"
                    },
                    "total": {
                        "type": "integer",
                        "title": "Total",
                        "description": "Total number of snapshots available for this market"
                    },
                    "limit": {
                        "type": "integer",
                        "title": "Limit",
                        "description": "Number of results returned in this response"
                    },
                    "offset": {
                        "type": "integer",
                        "title": "Offset",
                        "description": "Pagination offset used for this request"
                    }
                },
                "type": "object",
                "required": [
                    "market",
                    "snapshots",
                    "total",
                    "limit",
                    "offset"
                ],
                "title": "SnapshotsListResponse",
                "description": "Paginated snapshots list response with market data."
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            }
        }
    },
    "tags": [
        {
            "name": "Health",
            "description": "Health check endpoints for monitoring service availability. No authentication required.",
            "x-displayName": "Health"
        },
        {
            "name": "v1 - Markets",
            "description": "**API v1** - Access prediction market data including market details, resolution status, and trading parameters. All endpoints require API key authentication.",
            "x-displayName": "Markets"
        },
        {
            "name": "v1 - Snapshots",
            "description": "**API v1** - Retrieve historical market snapshots for backtesting and analysis. Snapshots include full order book depth and price data. All endpoints require API key authentication.",
            "x-displayName": "Snapshots"
        }
    ],
    "externalDocs": {
        "description": "PolyDataMine Documentation",
        "url": "https://polybacktest.com/docs"
    },
    "x-tagGroups": [
        {
            "name": "System",
            "tags": ["Health"]
        },
        {
            "name": "API v1",
            "tags": ["v1 - Markets", "v1 - Snapshots"]
        }
    ]
}